
@media only screen and (max-width: 1024px) {
    p#restaurant-error {
        position: absolute;
        bottom: -25px;
        color: #ff0000;
        font-family: 'Inter';
        font-size: 12px;
    }
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    body{
        font-display: optional;
    }
    .marketing-simple-part .container {
        padding: 0px;
    }
    .image-text-wrap {
        position: absolute;
        width: 95%;
        color: #fff;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .text-area-section br {
        display: none;
    }
    section.top-area-part {
        display: block;
        width: 100%;
    }
    nav.landing-new-logo {
        background: #000;
        display: block;
        padding-top: 40px;
    }
    nav.landing-new-logo img {
        width: 120px;
        display: block;
        margin: auto;
    }
    .text-area-section {
        padding-top: 40px;
        display: block;
    }
    .text-area-section h1 {
        text-align: center;
        font-size: 34px;
        color: #fff;
        line-height: 44px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        margin: 0;
    }
    .text-area-section p {
        font-size: 14px;
        color: #fff;
        text-align: center;
        padding-top: 8px;
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        line-height: 20px;
        margin-bottom: 36px;
    }
    .text-area-section a {
        color: #fff;
        text-align: center;
        display: block;
        background: #F5243A;
        border-radius: 13px;
        padding: 12px 0px;
        font-size: 16px;
        font-weight: 700;
        width: 295px;
        margin: 0px auto 0px;
        font-family: 'Inter', sans-serif;
    }
    button#landing-form-show-update {
        color: #fff;
        text-align: center;
        display: block;
        background: #F5243A;
        border-radius: 13px;
        height: 54px;
        font-size: 16px;
        font-weight: 700;
        width: 312px;
        margin: 0px auto 0px;
        font-family: 'Inter', sans-serif;
        border: 1px solid #f5243a;
        letter-spacing: 0px;
        max-width: 100%;
    }
    .list-items-content {
        margin-top: 40px;
    }
    .list-items-content ul li {
        width: 50%;
        margin: auto;
        display: block;
        float: left;
        text-align: center;
        padding-bottom: 15px;
    }
    .list-items-content ul li h4 {
        font-weight: 700;
        font-size: 18px;
        margin: 0;
        padding-top: 5px;
        font-size: 18px;
        font-family: "Poppins", sans-serif;
    }
    .list-items-content:after {
        clear: both;
        display: block;
        content: '';
    }
    .list-items-content ul li p {
        margin: 0;
        font-size: 16px;
        font-family: "Poppins", sans-serif;
    }
    .landing-tab-list {
        padding-top: 35px;
        display: block;
    }
    .main-head-online h2 {
        text-align: center;
        font-size: 34px;
        font-weight: bold;
        color: #000;
        font-family: 'Inter', sans-serif;
        width: 67%;
        margin: auto;
        line-height: 42px;
        font-weight: 900;
    }
    span.sell-online {
        color: #F5243A;
        font-weight: 900;
    }
    .tab-section-area .new-update-tab-section {
        margin-right: 6px;
        margin-left: 6px;
        white-space: nowrap;
        padding: 6px 0px;
        background: #f5f5f5;
        border-radius: 12px;
        width: 156px;
        text-align: center;
        margin-bottom: 11px;
    }
    .tab-section-area {
        display: block;
        width: 100%;
        overflow-x: hidden;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    .tab-section-area .row {
        width: 100%;
        display: flex;
        flex-direction: row;
        /* flex-wrap: nowrap; */
        z-index: 79;
        background: #fff;
        /* overflow-x: scroll; */
        padding-top: 20px;
        padding-left: 0px;
        float: left;
        margin: auto !important;
        align-items: center;
        justify-content: center;
    }
    .tab-section-area .new-update-tab-section p {
        font-size: 13px;
        font-family: 'Inter', sans-serif;
        line-height: 20px;
        margin: 0px;
        font-weight: 400;
        cursor: pointer;
    }
    .list-items-content ul {
        padding-left: 0;
        display: inline-block;
        list-style-type: none;
    }
    .payment-option .row.content {
        margin-right: 0;
        margin-left: 0;
        display: flex;
        flex-direction: row;
        padding-top: 72px;
        width: 100%;
    }
    .payment-option h5,
    .e-comm-website-part h5,
    .hyperlocal h5,
    .offers h5,
    .order-management h5 {
        text-align: center;
        color: #F5243A;
        font-size: 20px;
        letter-spacing: 0.03em;
        line-height: 16px;
        padding-top: 32px;
        font-weight: 700 !important;
        font-family: 'Inter', sans-serif;
        margin-bottom: 0px;
    }
    .order-management h5 {
        padding-top: 10px !important;
    }
    .rapid-container p,
    .section-image-text-wrap p {
        font-family: 'Inter', sans-serif;
        text-align: center;
        padding-top: 12px;
        font-size: 12px;
        line-height: 20px;
        width: 88%;
        display: block;
        margin: auto;
        font-weight: 400;
        color: #86868B;
    }
    .image-option {
        padding-top: 56px;
    }
    .hyperlocal,
    .offers {
        display: flex !important;
        flex-direction: column-reverse;
    }
    .e-comm-website-part {
        display: block;
        padding-top: 56px;
    }
    .trusted-area-section {
        padding-top: 72px;
    }
    .trusted-area-section h2 {
        text-align: center;
        display: block;
        width: 61%;
        margin: auto;
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        color: #000;
        padding-bottom: 40px;
        line-height: 36px;
        font-size: 34px;
    }
    .trusted-area-section .video-slider-section {
        background: #FFFFFF 0% 0% no-repeat padding-box;
        border: 1px solid #fff;
        border-radius: 8px;
        box-shadow: 0px 3px 12px #00000014;
    }
    .high-commission-profit-display {
        padding-top: 0px;
    }
    .section-image-part {
        position: relative;
        display: block;
        width: 100%;
    }
    .section-image-part img,
    .marketing-simple-part img,
    .account-section-image-part img {
        display: block;
        width: 100%;
    }
    .profit-display-text {
        position: absolute;
        bottom: 12%;
        width: 73%;
        left: 14%;
        transform: translate(10px, 10px);
        text-align: center;
    }
    .profit-display-text h2 {
        font-size: 29px;
        font-family: 'Inter', sans-serif;
        color: #fff;
        line-height: 40px;
        padding-bottom: 14px;
    }
    .profit-display-text p {
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        margin: 0;
        line-height: 24px;
        color: #fff;
        opacity: 60%;
    }
    .marketing-simple-part {
        display: block;
        padding-top: 88px;
    }
    .marketing-content-text h3 {
        display: block;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        font-size: 34px;
        padding-bottom: 20px;
        margin: 0;
        line-height: 42px;
    }
    .marketing-content-text p {
        opacity: 60%;
        text-align: center;
        color: #000;
        padding-bottom: 00px;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 21px;
        width: 85%;
        margin: auto;
        padding-top: 25px;
        font-weight: 500;
    }
    .account-manager-section {
        position: relative;
        display: block;
        width: 100%;
        padding-top: 92px;
    }
    .account-profit-display-text {
        position: absolute;
        bottom: 12%;
        width: 73%;
        left: 14%;
        transform: translate(10px, 10px);
        text-align: center;
    }
    .account-profit-display-text h2 {
        font-size: 29px;
        font-family: 'Inter', sans-serif;
        color: #fff;
        line-height: 40px;
        padding-bottom: 14px;
    }
    .account-profit-display-text p {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        margin: 0;
        line-height: 24px;
        color: #fff;
        opacity: 60%;
    }
    .swiper-slide img {
        width: 100% !important;
        top: 0;
        left: 0;
        position: static;
        margin-left: 20px;
        border-radius: 10px;
        padding: 0px 10px;
        margin: 0px;
    }
    .slider-top-head-section {
        background: #000;
        padding-top: 42px;
        display: block;
    }
    .swiper-slide:last-child {
        margin-right: 20px;
    }
    section.faq-section {
        padding-top: 132px;
    }
    .e-comm-website-part .swiper-container {
        height: auto !important;
    }
    .slider-ecom-website-section img {
        width: 100% !important;
        height: auto !important;
        padding: 0px 0px !important;
        margin-bottom: 10px;
    }
    .slider-ecom-website-section .swiper-container {
        margin-bottom: 0px;
    }
    .new-update-tab-section.active:after {
        content: none !important;
    }
    .tab-new-section-detail {
        display: none;
    }
    .restaurant-logo-list ul li {
        display: inline-block;
        padding: 0px 3px 19px;
        width: 32.33%;
    }
    .restaurant-logo-list ul li img {
        border-radius: 17px;
    }
    .logo-list-main-head {
        padding-top: 48px;
        text-align: center;
        padding-bottom: 40px;
    }
    .video-slider-section .swiper-wrapper {
        display: block;
    }
    .video-text-part {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 14px;
    }
    .video-update h3 {
        padding-bottom: 2px;
        margin: 0;
        font-size: 12px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
    }
    .video-update p {
        margin-bottom: 0;
        font-size: 12px;
        font-family: "Poppins", sans-serif;
        color: #000000;
        opacity: 50%;
        font-weight: 400;
    }
    .video-update {
        padding-left: 13px;
    }
    .image-option img {
        width: 90%;
        display: block;
        margin: auto;
    }
    .restaurant-logo-list ul {
        padding: 0px;
        display: block;
    }
    .connect-text {
        color: #fff;
    }
    .sticky-header {
        height: 68px !important;
    }
    .demo-btn {
        height: 35px;
    }
    .CTA-button-width {
        width: 59%;
    }
    .slider-top-head-section .swiper-container {
        margin-bottom: 20px !important;
        padding-bottom: 64px;
    }
    .tab-section-area .tab-update::-webkit-scrollbar {
        width: 0px !important;
    }
    section.top-area-part .swiper-slide img {
        margin-left: 0px;
    }
    .restaurant-img-section.md-ph24.md-mt24.col-md12.pb-0.pb-0 .swiper-slide img {
        border-radius: 0px !important;
        padding: 0px;
    }
    .logo-list-main-head h2 {
        opacity: 37%;
        color: #000;
        font-family: 'Inter', sans-serif;
        font-size: 25px;
        line-height: 39px;
        font-weight: 700;
    }
    .payment-option .row.content:after {
        clear: both;
        display: block;
        content: '';
    }
    .payment-option .row.content .hyperlocal,
    .payment-option .row.content .order-management,
    .payment-option .row.content .offers {
        width: 100%;
        display: block;
    }
    iframe {
        height: 260px;
        border-radius: 8px 8px 0px 0px;
    }
    .sticky-header.demo {
        position: fixed;
        bottom: 0;
        background: #000;
        width: 100%;
        display: flex;
        z-index: 100;
        left: 0;
        height: 80px !important;
        align-items: center;
        display: none;
    }
    .sticky-header.demo span.connect-text {
        padding-top: 0px;
        padding-bottom: 0px;
        font-family: 'Inter', sans-serif;
        letter-spacing: 0.04em;
        font-weight: 600 !important;
    }
    .accordian-heading{
        font-family: 'Inter', sans-serif;
    }
    .accordion .panel p{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    .faq-view-more{
        font: normal normal 700 16px/92px 'Inter', sans-serif;
    }
    .sticky-header.demo .cta-container {
        margin: 0px;
        width: 70%;
    }
    .sticky-header.demo .CTA-button-width {
        width: 90%;
    }
    .sticky-header.demo .demo-btn {
        padding-left: 0px !important;
        padding-right: 0px !important;
        font-family: 'Inter', sans-serif;
        margin-right: 0px !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        height: 48px !important;
        font-size: 16px !important;
        font-weight: 700 !important;
        font-family: 'Inter', sans-serif;
    }
    .sticky-header.fixed {
        flex-direction: row !important;
    }
    .video-text-image img {
        width: 50px;
    }
    .e-comm-website-part h5 {
        padding-top: 32px;
    }
    img.mobile-view-image {
        display: block;
    }
    img.desktop-view-image {
        display: none;
    }
    .trusted-area-section {
        display: block;
    }
    .video-section-update-wrap .row.control-update {
        width: 100vw;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        z-index: 79;
        background: #fff;
        overflow-x: scroll;
        padding-top: 20px;
        padding-left: 10px;
        margin-right: 0px !important;
        padding-bottom: 9px !important;
    }
    .testimonial-video-update {
        margin-right: 6px;
        margin-left: 6px;
        white-space: nowrap;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 12px #00000014;
        border-radius: 8px;
        opacity: 1;
    }
    .video-section-update-wrap .row.control-update::-webkit-scrollbar {
        width: 0px;
    }
    .video-desktop-section,
    .main-header-image-section {
        display: none;
    }
    .slider-top-head-section {
        display: block;
    }
    .slider-top-head-section .swiper-slide img {
        padding: 0px;
        height: 100%;
        width: 100%;
    }
    .slider-top-head-section .container {
        padding: 0px !important;
    }
    .slider-top-head-section .swiper-container {
        height: 100% !important;
    }
    section.faq-section h1.section-heading.faq-heading.md-text32 {
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        line-height: 35px;
        color: #0D151D;
        font-weight: 900;
        text-align: center;
    }
    .main-head-online h2 br {
        display: block;
    }
    .trusted-area-section h2 br {
        display: block;
    }
    .tab-section-area.final {
        display: block;
    }
    .restaurant-img-section.md-ph24.md-mt24.col-md12.pb-0.pb-0 {
        padding: 0px;
    }
    .empowered-dotpe-section .swiper-container {
        height: auto !important;
    }
    .restaurant-image {
        display: none;
    }
    .empowered-dotpe-section .container {
        padding: 0px;
    }
    .desktop-manager-center-section {
        display: none;
    }
    .e-comm-website-part .container {
        padding: 0px !important;
    }
    /* .e-comm-website-part .swiper-container {
     overflow: initial;
    } */
    .donate-now {
        list-style-type: none;
        margin: 12px 0 0 0;
        padding: 0;
    }
    .donate-now li {
        margin: 0 5px 0 0;
        height: 48px;
        display: inline-flex;
        align-items: center;
        text-align: center;
        letter-spacing: -0.5px;
    }
    div-parent.test {
        display: block;
        content: '';
        clear: both;
    }
    .donate-now input[type="radio"] {
        opacity: 0.01;
        z-index: 100;
        display: none;
    }
    .donate-now input[type="radio"]:checked+label,
    .Checked+label {
        background: #fff;
        color: #e32d2d !important;
        border: 1px solid #E32D2D;
    }
    .donate-now label {
        border: 1px solid #CCC;
        cursor: pointer;
        z-index: 90;
        height: 38px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        padding: 0px 12px;
        color: #797979;
        font-size: 14px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    .form-main-wrapper{
        padding: 0px 15px;
        max-height: 90vh;
    }
    label.consent-checkbox {
        font-weight: 400 !important;
    }
    .donate-now label:hover {
        background: #DDD;
    }
    parent.test ul.donate-now:after {
        display: block;
        content: '';
        clear: both;
    }
    .msg-heading-part p {
        color: #070E1D;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        margin-bottom: 0px;
    }
    form input.form-control {
        width: 100%;
        font-family: 'Inter', sans-serif !important;
        margin-bottom: 24px !important;
        font-weight: 400 !important;
    }
    ul.donate-now li:after {
        display: block;
        content: '';
        clear: both;
    }
    .landing-tab-list .container {
        padding: 0px;
    }
    #request-submit-form {
        font-weight: bold;
        font-family: 'Inter', sans-serif;
    }
    .form-heading,
    input[type=checkbox]+label {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }
    #success-popup p {
        font-family: 'Inter', sans-serif;
        font-weight: 700;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    p#restaurant-error {
        position: absolute;
        bottom: -30px;
        color: #ff0000;
        font-family: 'Inter';
        font-size: 12px;
    }
    
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    .text-area-section br {
        display: block;
    }
    .trusted-area-section .container {
        max-width: 100% !important;
    }
    .restaurant-img-section {
        display: block;
    }
    .marketing-content-text p br {
        display: none;
    }
    .tab-new-section-detail {
        display: none;
    }
    .account-manager-section {
        display: block;
    }
}

@media only screen and (min-width: 567px) and (max-width: 1024px) {
    p#restaurant-error {
        position: absolute;
        bottom: -18px;
        color: #ff0000;
        font-family: 'Inter';
        font-size: 12px;
    }
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    .container {
        max-width: 100% !important;
    }
    .e-comm-website-part .swiper-container {
        height: auto;
    }
    .e-comm-website-part .swiper-container .swiper-slide img {
        height: auto;
        padding: 0px 2px;
    }
}
@media only screen and (min-height: 640px) and (max-height: 700px){
    p#restaurant-error {
        position: absolute;
        bottom: -25px;
        color: #ff0000;
        font-family: 'Inter';
        font-size: 12px;
    }
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    button#request-submit-form{
        position: sticky;
        bottom: 0;
        left: 0;
        margin-bottom: 0px !important;
        border-radius: 0px !important;
    }
    .conset-div{
        padding: 0px 15px !important;
    }
    .form-main-wrapper{
        padding: 0px 0px !important;
    }
    .form-group, input[type=checkbox]+label {
        padding: 0px 15px !important;
    }
}

@media only screen and (min-width: 1025px) {
    label.consent-checkbox {
        margin-top: 10px;
        margin-bottom: 0px;
    }
    p#restaurant-error {
        position: absolute;
        bottom: -25px;
        color: #ff0000;
        font-family: 'Inter';
        font-size: 12px;
    }
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    body{
        font-display: optional;
    }
    .accordian-heading{
        font-family: 'Inter', sans-serif;
    }
    .accordion .panel p{
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    .msg-heading-part:after {
        clear: both;
        display: block;
        content: '';
    }
    .image-pop-detail-wrap:after {
        display: block;
        content: '';
        clear: both;
    }
    form input.form-control {
        font-family: 'Inter', sans-serif;
        /* margin-left: 8px; */
        margin-bottom: 16px !important;
    }
    .error {
        left: 0px;
    }
    .msg-heading-part p {
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        font-weight: 700;
        line-height: 44px;
        margin-bottom: 0px;
    }
    ul.donate-now li label {
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        color: #797979;
    }
    .desktop-manager-center-section {
        display: block;
    }
    .tab-new-section-detail {
        display: block;
    }
    .account-manager-section {
        padding-top: 168px;
    }
    .marketing-content-text p br {
        display: block;
    }
    .trusted-area-section h2 br {
        display: none;
    }
    button#landing-form-show-update {
        color: #fff;
        text-align: center;
        display: block;
        background: #F5243A;
        border-radius: 13px;
        padding: 12px 0px;
        font-size: 18px;
        font-weight: bold;
        width: 295px;
        margin: 0px auto 0px;
        font-family: 'Inter', sans-serif;
        border: 1px solid #f5243a;
        max-width: 100%;
    }
    .form-main-wrapper {
        width: 55% !important;
        overflow-y: hidden !important;
        position: fixed !important;
        top: 50% !important;
        left: 50% !important;
        transform: translate(-50%, -50%) !important;
        height: 490px !important;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
        overflow-x: hidden !important;
        padding-top: 15px !important;
    }
    .form-main-wrapper div form {
        margin-top: 0px;
    }
    .restaurant-image {
        display: block;
    }
    .sticky-header.demo.fixed {
        display: flex;
        flex-direction: row !important;
        align-items: center;
        background: #000;
        height: 75px !important;
    }
    .sticky-header.demo.fixed span.connect-text {
        color: #fff;
        text-align: right !important;
        width: 50%;
        font-weight: 500 !important;
    }
    .form-heading, input[type=checkbox]+label{
        font-family: 'Inter';
    }
    .video-desktop-section .container {
        padding: 0;
    }
    .cta-container {
        width: 50%;
        margin: 0 0 0 20px;
    }
    .video-desktop-section .row {
        margin: 0;
    }
    .sticky-header.demo.fixed .CTA-button-width {
        width: 24%;
        padding: 7px 0px;
        cursor: pointer;
    }
    .video-detail-wrap {
        display: block;
        width: 30.33%;
        float: left;
        background: #FFFFFF 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 12px #00000014;
        border-radius: 8px;
        margin: 0px 10px;
    }
    .video-detail-text {
        display: flex;
        align-items: center;
        font-size: 14px;
        padding: 20px 10px;
    }
    .video-new-text h3 {
        margin: 0;
        font-size: 14px;
        color: #000;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
    }
    .video-new-text {
        padding-left: 30px;
    }
    .video-desktop-section {
        display: block;
        padding-top: 56px;
    }
    iframe {
        border-radius: 8px 8px 0px 0px;
    }
    .marketing-content-text p {
        order: 3;
        text-align: center;
        font-size: 20px;
        color: #86868B;
        font-weight: 500;
        padding-top: 30px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-family: 'Inter', sans-serif;
    }
    .restaurant-img-section {
        display: none;
    }
    .marketing-content-text h3 {
        font-size: 48px;
        line-height: 64px;
        font-weight: 900;
        text-align: center;
        font-family: 'Inter', sans-serif;
    }
    .marketing-content-text {
        display: flex;
        flex-direction: column;
    }
    .marketing-content-text br {
        display: none;
    }
    img.desktop-view-image {
        width: 80%;
        display: block;
        margin: auto;
    }
    .empowered-dotpe-section {
        display: block;
        padding: 50px 0px;
    }
    section.top-area-part nav.landing-new-logo {
        background: #000;
        display: block;
        width: 100%;
        /* background-image: url(https://cdn.dotpe.in/cfe/image/landing-page-top-header-bg-image-new-8-nov-2021.jpg);
      height: 100%;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover; */
    }
    nav.landing-new-logo img {
        width: 190px;
        display: block;
        margin: auto;
    }
    nav.landing-new-logo .container {
        padding-top: 88px;
    }
    .text-area-section {
        display: block;
        text-align: center;
        margin: auto;
        color: #fff;
        padding-top: 40px;
    }
    .text-area-section br {
        display: none;
    }
    .text-area-section h1 {
        font-size: 54px;
        line-height: 79px;
        font-weight: 700;
        margin-bottom: 0px;
        font-family: 'Inter', sans-serif;
    }
    .text-area-section p {
        font-size: 24px;
        line-height: 34px;
        padding-top: 10px;
        margin-bottom: 0px;
        padding-bottom: 40px;
        font-family: 'Inter', sans-serif;
        font-weight: normal;
    }
    .text-area-section a {
        display: block;
        background: #F5243A;
        width: 190px;
        margin: auto;
        color: #fff;
        padding: 13px;
        font-size: 18px;
        border-radius: 13px;
        font-weight: 700;
    }
    .landing-tab-list .container {
        padding: 0px;
    }
    .main-head-online h2 {
        text-align: center;
        font-size: 48px;
        display: block;
        line-height: 64px;
        font-family: 'Inter', sans-serif;
        font-weight: 900;
    }
    span.sell-online {
        display: block;
        color: #F5243A;
        font-weight: 900;
    }
    .row.tab-update {
        display: block;
        width: 86%;
        margin: auto;
    }
    .new-update-tab-section {
        display: inline-block;
        text-align: center;
        width: 18%;
        background: #f4f4f4;
        border-radius: 12px;
        padding: 8px;
        margin: 0px 8px;
    }
    .new-update-tab-section p {
        margin: 0px;
        color: #000;
        font-size: 15px;
        text-align: center;
        font-family: 'Inter', sans-serif;
    }
    .new-update-tab-section.active:after {
        content: none !important;
    }
    .tab-section-area {
        padding-top: 30px;
    }
    .payment-option .container {
        padding: 0px;
    }
    .payment-option,
    .hyperlocal,
    .order-management,
    .offers {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 120px;
        justify-content: center;
    }
    .section-image-text-wrap h5 {
        font-size: 24px;
        color: #F5243A;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
    }
    .image-option img {
        width: 100%;
        display: block;
        margin: auto;
    }
    .section-image-text-wrap p {
        font-size: 19px;
        color: #86868B;
        font-weight: 400;
    }
    .section-image-text-wrap {
        width: 100%;
        text-align: left;
    }
    .payment-option .section-image-text-wrap,
    .order-management .section-image-text-wrap {
        padding-left: 80px;
    }
    .hyperlocal .section-image-text-wrap,
    .offers .section-image-text-wrap {
        padding-right: 80px;
    }
    /* #section_demo_form {
      position: relative;
      top: 50%;
      left: 50%;
      width: 100%;
      z-index: 500;
      transform: translate(-50%, -50%);
    } */
    #request-submit-form,
    #landing-form-show {
        margin-bottom: 0px !important;
    }
    .image-option {
        width: 100%;
        display: inline-flex;
    }
    .restaurant-image img {
        width: 100%;
        display: block;
    }
    img.mobile-view-image {
        display: none;
    }
    span.sell-online.market-simple {
        display: inline-block;
    }
    .logo-list-main-head h2 {
        text-align: center;
        padding-bottom: 30px;
        font-size: 46px;
        color: #000;
        opacity: .37;
        font-weight: 700;
        margin: 0;
        font-family: 'Inter';
    }
    .trusted-area-section {
        display: none;
    }
    .marketing-simple-part {
        padding-top: 156px;
    }
    .slider-top-head-section .swiper-slide {
        margin: 0px 15px;
    }
    .slider-top-head-section .swiper-slide img {
        width: 100%;
    }
    .slider-top-head-section {
        display: none;
    }
    .image-rest-detail {
        width: 20%;
        display: block;
    }
    .main-header-image-section .container {
        margin: auto;
        display: block;
        max-width: 1200px;
        padding-bottom: 60px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .final-slider-list-final {
        display: block;
        width: 100%;
    }
    .final-slider-list-final ul {
        width: 100%;
        padding: 0;
        display: block;
        list-style-type: none !important;
        margin: auto;
    }
    .final-slider-list-final ul li.image-rest-detail {
        width: 14%;
        display: inline-block;
        margin: 0px 12px;
    }
    nav.landing-new-logo img {
        width: 100%;
        display: block;
        border-radius: 8px;
    }
    .landing-tab-list {
        padding-top: 132px;
    }
    .e-comm-website-part .swiper-slide img {
        width: 100%;
        height: auto !important;
        position: static;
    }
    .e-comm-website-part .swiper-container {
        height: auto;
        width: 100%;
        margin-bottom: 28px;
    }
    .e-comm-website-part .container {
        max-width: 100%;
    }
    .e-comm-website-part {
        padding-bottom: 200px;
        padding-top: 144px;
    }
    .e-comm-website-part .section-image-text-wrap {
        width: 100%;
        padding-top: 48px;
        text-align: center;
    }
    .e-comm-website-part .section-image-text-wrap p {
        margin-bottom: 0px;
        font-family: 'Inter', sans-serif;
        font-weight: 400;
    }
    .video-new-image-desktop img {
        width: 64px;
    }
    .video-new-text {
        padding-left: 20px;
        align-items: center;
    }
    .video-new-text p {
        margin: 0;
        font-size: 14px;
        color: #000;
        opacity: 50%;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
    }
    .footer-menu a {
        display: inline-block;
    }
    .landing-tab-list .container {
        max-width: 100%;
    }
    .video-desktop-section h2 {
        text-align: center;
        padding-bottom: 78px;
        font-size: 48px;
        font-family: 'Inter', sans-serif;
        font-weight: 900;
        line-height: 64px;
    }
    .main-head-online h2 br {
        display: none;
    }
    .tab-new-section-detail {
        display: block;
        width: 100%;
        padding-top: 30px;
    }
    .tab-new-section-detail .container {
        max-width: 1060px;
    }
    .tab-new-section-detail .row.tab-final {
        width: 100%;
        display: block;
        overflow-x: hidden;
        margin: 0px auto;
    }
    .tab-new-section-detail ul {
        padding: 0px;
        display: block;
        list-style-type: none;
        width: 100%;
        margin: auto;
    }
    .tab-new-section-detail ul li.new-update-tab-section-final {
        display: inline-block;
        background: #f5f5f5;
        width: 172px;
        text-align: center;
        border-radius: 15px;
        margin: 0px 7px;
    }
    .tab-new-section-detail p {
        margin-bottom: 0px;
        font-size: 13px;
        padding: 6px 15px;
        font-family: 'Inter', sans-serif;
        line-height: 20px;
        font-weight: 400;
        cursor: pointer;
    }
    .tab-section-area.final {
        display: none;
    }
    .tab-new-section-detail {
        display: block;
    }
    .final-slider-list-final {
        display: block;
        width: 100%;
    }
    .logo-image-main img {
        width: 220px !important;
    }
    .payment-option .row.content {
        width: 87%;
        margin: auto;
        display: block;
    }
    .row.content {
        margin: 0px !important;
        display: block;
    }
    .rapid-container {
        height: 456px;
        width: 596px;
        display: flex;
        align-items: center;
    }
    .demo-btn {
        padding-left: 0px !important;
        padding-right: 0px !important;
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    #success-popup p {
        font-family: 'Inter', sans-serif;
    }
    .faq-view-more {
        padding: 0px;
        display: block;
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-weight: 800;
        font-size: 16px;
    }
    .account-manager-section {
        display: none;
    }
    .payment-option-update .container {
        max-width: 1240px;
    }
    .desktop-manager-center-section {
        display: block;
        width: 100%;
        padding-top: 168px;
    }
    .desktop-content-area-detail {
        position: relative;
        display: block;
        width: 100%;
    }
    .desktop-content-area-detail img {
        width: 100%;
        display: block;
    }
    .desktop-manager-center-section .row {
        margin: 0px !important;
    }
    .desktop-account-text-part {
        position: absolute;
        display: block;
        top: 50%;
        right: 9%;
        transform: translate(-6%, -50%);
        color: #fff;
    }
    .desktop-account-text-part h3 {
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        font-size: 48px;
        line-height: 64px;
        /* font-weight: bold; */
        color: #fff;
    }
    .desktop-account-text-part p {
        margin: 0;
        color: #86868B;
        font-weight: bold;
        font-family: 'Inter', sans-serif;
        font-size: 21px;
        padding-top: 30px;
        line-height: 30px;
    }
    .donate-now {
        list-style-type: none;
        margin: 12px 0 0 0;
        padding: 0;
    }
    section.faq-section h1.section-heading.faq-heading.md-text32 {
        text-align: center;
        font-family: 'Inter', sans-serif;
        font-weight: 900;
    }

    .donate-now li {
        float: left;
        margin: 0 5px 0 0;
        width: 100px;
        height: 40px;
        position: relative;

    }
    .donate-now label,
    .donate-now input {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    .donate-now input[type="radio"] {
        opacity: 0.01;
        z-index: 100;
    }
    .donate-now input[type="radio"]:checked+label,
    .Checked+label {
        background: #fff;
        color: #e32d2d !important;
        border: 1px solid #E32D2D;
    }
    .donate-now label {
        padding: 5px;
        border: 1px solid #CCC;
        cursor: pointer;
        z-index: 90;
    }
    .donate-now label:hover {
        background: #DDD;
    }
    ul.donate-now {
        padding: 0px;
        display: block;
        width: 100%;
    }
    ul.donate-now li {
        width: 32.33%;
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
    }
    .div-parent.test ul.donate-now:after {
        display: block;
        content: '';
        clear: both;
    }
    .div-parent.test ul.donate-now li label {
        border-radius: 6px;
        margin: 0px 0px 0px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
    }
    #success-popup{
        border-radius: 8px;
    }
    .faq-section-wrapper {
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 100px;
    }
    section.faq-section .faq-section-wrapper.container {
        max-width: 900px;
    }
    #success-popup {
        color: #070E1D;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 500;
        display: none;
        width: 55%;
        transform: translate(-51%, -50%);
        margin-top: 0;
        height: 490px !important;
    }
    .div-parent {
        position: relative;
        width: 30%;
        float: left;
        margin-right: 19px;
    }
    .test {
        width: 100%;
        display: block;
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 1600px) {
    input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
    .container {
        max-width: 90%;
        display: block;
        margin: auto;
    }
}